In [71]:
import pandas as pd
import os


df_genders = pd.read_csv(os.path.join("data", "genders.csv"))
df_genders = df_genders.set_index("# user")
df_genders.index.name = "user"
df_genders = df_genders.rename(columns={'female': 'gender'})
df_genders.head(25)

      gender
user
0          0
2          0
3          0
4          0
5          0
6          1
7          1
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         1
22         0
23         0
24         0
25         0

In [72]:
df_fb = pd.read_csv(os.path.join("data", "fb_friends.csv"))

count_user_a = df_fb.groupby("# user_a").size()
count_user_b = df_fb.groupby("user_b").size()

df_fb_count = count_user_a.add(count_user_b, fill_value=0).to_frame(name="fb_friend_count")

df_fb_count.index.name = "user"
df_fb_count.head(20)

      fb_friend_count
user
0                19.0
1                 6.0
2                 7.0
3                18.0
4                30.0
5                26.0
6                18.0
7                 6.0
8                 6.0
9                 2.0
10                8.0
11                9.0
12               21.0
13               78.0
15               62.0
16                7.0
17               11.0
18                9.0
19               10.0
22               13.0

In [73]:
df_sms = pd.read_csv(os.path.join("data", "sms.csv"), usecols = ['sender','recipient'])


df_sms_count = pd.concat([df_sms.groupby("sender").size().to_frame(name="sender_count"), df_sms.groupby("recipient").size().to_frame(name="recipient_count")], axis=1)

#Om vi vill ha bara totala antalet sms istället
#count_sender = df_sms.groupby("sender").size()
#count_recipient = df_sms.groupby("recipient").size()

#df_sms_count = count_sender.add(count_recipient, fill_value=0).to_frame(name="sms_count")

df_sms_count.index.name = "user"
df_sms_count.head()

      sender_count  recipient_count
user
0             62.0             74.0
1              2.0              1.0
3            147.0            147.0
4             82.0             69.0
5             21.0             18.0

In [74]:
df_calls = pd.read_csv(os.path.join("data", "calls.csv"), usecols = ['caller','callee'])

df_call_count = pd.concat([df_calls.groupby("caller").size().to_frame(name="caller_count"), df_calls.groupby("callee").size().to_frame(name="callee_count")], axis=1)

#Om vi vill ha bara totala antalet samtal istället
#count_caller = df_calls.groupby("caller").size()
#count_callee = df_calls.groupby("callee").size()

#df_call_count = count_caller.add(count_callee, fill_value=0).to_frame(name="call_count")

df_call_count.index.name = "user"
df_call_count.head(20)

      caller_count  callee_count
user
0              3.0           6.0
3             11.0          10.0
4             24.0          20.0
5              1.0           5.0
6             11.0           6.0
7              1.0           NaN
8              7.0           8.0
11             NaN           1.0
12            13.0           9.0
13            21.0          21.0
14             1.0           NaN
15            10.0          10.0
16             2.0           NaN
17             1.0           1.0
19            17.0          12.0
20            20.0          68.0
21            68.0          19.0
22             3.0           5.0
23             8.0           1.0
24             2.0           1.0

In [95]:
df_all = pd.concat([df_fb_count, df_sms_count, df_call_count], axis=1)
df_all = df_all.fillna(0)
df_all = pd.concat([df_genders, df_all], axis=1) 

df_all["gender"] = df_all["gender"].fillna(-1).astype(int)

df_all.to_csv("features.csv")
df_all.head(50)

,gender,fb_friend_count,sender_count,recipient_count,caller_count,callee_count
user,,,,,,
0,0,19.0,62.0,74.0,3.0,6.0
1,-1,6.0,2.0,1.0,0.0,0.0
2,0,7.0,0.0,0.0,0.0,0.0
3,0,18.0,147.0,147.0,11.0,10.0
4,0,30.0,82.0,69.0,24.0,20.0
5,0,26.0,21.0,18.0,1.0,5.0
6,1,18.0,46.0,34.0,11.0,6.0
7,1,6.0,0.0,0.0,1.0,0.0
8,0,6.0,13.0,17.0,7.0,8.0
9,0,2.0,1.0,0.0,0.0,0.0
10,0,8.0,0.0,0.0,0.0,0.0
11,0,9.0,1.0,1.0,0.0,1.0
12,0,21.0,68.0,73.0,13.0,9.0
13,0,78.0,68.0,64.0,21.0,21.0
14,0,0.0,15.0,12.0,1.0,0.0
15,0,62.0,15.0,19.0,10.0,10.0
16,0,7.0,0.0,0.0,2.0,0.0
17,0,11.0,0.0,0.0,1.0,1.0
18,0,9.0,59.0,58.0,0.0,0.0
19,0,10.0,17.0,8.0,17.0,12.0
20,0,0.0,313.0,496.0,20.0,68.0
21,1,0.0,486.0,302.0,68.0,19.0
22,0,13.0,5.0,4.0,3.0,5.0
23,0,8.0,44.0,38.0,8.0,1.0
24,0,0.0,9.0,8.0,2.0,1.0
25,0,12.0,11.0,16.0,3.0,3.0
26,-1,3.0,3.0,4.0,0.0,0.0
27,0,21.0,48.0,55.0,6.0,6.0
28,0,14.0,7.0,8.0,3.0,7.0
29,0,30.0,2.0,1.0,0.0,0.0
30,0,24.0,0.0,0.0,0.0,0.0
31,-1,10.0,11.0,7.0,0.0,3.0
32,1,11.0,0.0,0.0,0.0,0.0
33,0,25.0,52.0,57.0,5.0,6.0
34,0,8.0,0.0,0.0,0.0,0.0
35,0,3.0,8.0,8.0,0.0,1.0
36,1,33.0,215.0,187.0,24.0,26.0
37,0,39.0,120.0,150.0,51.0,23.0
38,0,32.0,0.0,0.0,1.0,0.0
39,0,33.0,85.0,70.0,28.0,21.0
40,0,NaN,NaN,NaN,NaN,NaN
41,1,10.0,0.0,0.0,0.0,0.0
42,0,13.0,2.0,1.0,1.0,1.0
43,0,14.0,8.0,8.0,1.0,0.0
44,0,7.0,0.0,0.0,0.0,0.0
45,0,2.0,0.0,0.0,0.0,0.0
46,1,26.0,29.0,25.0,4.0,12.0
47,0,10.0,28.0,53.0,44.0,35.0
48,1,16.0,168.0,104.0,37.0,26.0
49,0,38.0,172.0,250.0,39.0,52.0

In [80]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()